<div id="content">
    <div class="panel ohide">
        <div class="mt-fl">
            <div class="sign-l">
                <div class="sign-lp">
                    <div class="slp-hight">
                      <div>
                         <h1 class="indent-x site-icon">
                             薄荷镇
                         </h1>
                         <p class="p-1 fs-14">
                            <%= config.literary_text %>
                         </p>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-fr">
            <div class="sign-r">

            </div>
        </div>
    </div>
</div>
<script>
$(function(){
    $('.sign-l div.sign-lp').css('padding-top',($("body").height()-442)/2-50+"px");
});
</script>