/*! bohezhen - v0.0.1 2014-08-21 */

body{
    font-size:12px;
    font-family: Verdana, "宋体", sans-serif;
    color: #333;
    background-color: #ffffff;
}
body #content{font-size:14px;}
a{color:#333;}
.indent-x{text-indent: -9999px;}
.fl{float:left;display: inline;}
.fr{float:right;display:inline;}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.block{display:block;}
.cor-1{color:#959595;}
.cor-2{color:#de4822;}
.cor-3{color:#121212;}
.cor-4{color:#f0971b;}
.cor-5{color:#333333;}
.cor-6{color:#36e1a5;}
.bg-1{background-color:#121212;}
.bg-2{background-color:#f0971b;}
.bg-3{background-color:#36e1a5;}
.bg-4{background-color:#6387e4;}
.t-1{font-size:28px;}
.fs-14{font-size:14px;}
.fs-13{font-size:13px;}
.fs-12{font-size:12px;}
.ml-55{margin-left:55px;}
.ml-10{margin-left:10px;}
.ml-5{margin-left:5px;}
.mt-50{margin-top:50px;}
.mt-25{margin-top:25px;}
.mt-35{margin-top:35px;}
.mt-40{margin-top:40px;}
.mt-60{margin-top:60px;}
.w-300{width:300px;}
.btn{text-decoration: none;text-align: center;font-size:14px;}
.btn-1{color:#ffffff;padding: 12px 0px;}
.a-link{border-radius: 5px;}
.p-1{color:#DDD;}
html, body, #content {height: 100%;}
#content{width:1000px;margin:0 auto;height: auto; min-height: 100%;}
#content .panel{padding-bottom: 78px;}
#footer {
    position: relative;
    margin-top: -78px; /* footer高度的负值 */
    height: 78px;
    clear:both;
    text-align: center;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before,blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
/* remember to define focus styles! */
:focus {
    outline: 0;}
/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.site-icon{width:115px;height:41px;background-image: url('../../static/images/bhz-icon.png');}
.sign-l p{padding-left:5px;margin-top:7px;}
.sign-l div.sign-lp{padding-left:74px;}
.sign-l div.sign-lp div.slp-hight{border-right: 1px solid #eee;height:442px; }
div.sign-lp div.slp-hight div{padding-top:160px;}
.sign-l,.sign-r{width:50%;}
.sign-pass-icon{background:url(../../static/images/icons.png?20142224) no-repeat -40px -6px;width:22px;height:22px;}
.sign-mail-icon{background:url(../../static/images/icons.png?20142224) no-repeat -64px -6px;width:22px;height:22px;}
.sign-tap{border-bottom:1px solid #eee;height:36px;width:300px;}
.sign-tap input{width:260px;margin-left:10px;font-size:16px;border:none;}
